<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="nxu.dao.AuditMapper">
    <!-- 根据审核类型查找审核记录 -->
    <select id="getAuditListByType" resultType="Audit">
        SELECT * FROM audit WHERE type = #{type}
    </select>

    <!-- 根据审核状态查找审核记录 -->
    <select id="getAuditListByState" resultType="Audit">
        SELECT * FROM audit
        <where>
            <if test="type != 0 and type != null">
                type = #{type}
            </if>
            <if test="state != 0 and state != null">
                and state = #{state}
            </if>
        </where>
    </select>

    <!-- 根据审核ID获取审核详情 -->
    <select id="getAuditById" resultType="Audit">
        SELECT * FROM audit WHERE id = #{id}
    </select>

    <!-- 更新审核状态 -->
    <update id="updateAuditState">
        UPDATE audit SET state = #{state}, info = #{info} WHERE id = #{id}
    </update>
</mapper>