<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>乐享校园-管理后台</title>
    <meta content="乐享校园后台主页" name="description">
    <meta content="乐享校园" name="keywords">

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="assets/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="assets/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="assets/vendor/simple-datatables/style.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="assets/css/style.css" rel="stylesheet">
</head>

<body>

<div th:replace="systemHeader :: myHeader"></div>

<div th:replace="systemSidebar :: mySidebar"></div>

<main id="main" class="main">

    <div class="pagetitle">
        <h1>乐享校园数据面板</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">主页</a></li>
                <li class="breadcrumb-item active">数据面板</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
        <div class="row">

            <!-- Left side columns -->
            <div class="col-lg-8">
                <div class="row">

                    <!-- Sales Card -->
                    <div class="col-xxl-4 col-md-6">
                        <div class="card info-card sales-card">

                            <div class="filter">
                                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                    <li class="dropdown-header text-start">
                                        <h6>筛选器</h6>
                                    </li>
                                    <li><a class="dropdown-item" href="#">今日</a></li>
                                    <li><a class="dropdown-item" href="#">本月</a></li>
                                    <li><a class="dropdown-item" href="#">本年</a></li>
                                </ul>
                            </div>

                            <div class="card-body">
                                <h5 class="card-title">餐品销量 <span>| 今日</span></h5>

                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-cart"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6>145</h6>
                                        <span class="text-success small pt-1 fw-bold">12%</span>
                                        <span class="text-muted small pt-2 ps-1">增长</span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div><!-- End Sales Card -->

                    <!-- Revenue Card -->
                    <div class="col-xxl-4 col-md-6">
                        <div class="card info-card revenue-card">

                            <div class="filter">
                                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                    <li class="dropdown-header text-start">
                                        <h6>筛选器</h6>
                                    </li>
                                    <li><a class="dropdown-item" href="#">今日</a></li>
                                    <li><a class="dropdown-item" href="#">本月</a></li>
                                    <li><a class="dropdown-item" href="#">本年</a></li>
                                </ul>
                            </div>

                            <div class="card-body">
                                <h5 class="card-title">营收金额 <span>| 本月</span></h5>

                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-currency-dollar"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6>￥1264</h6>
                                        <span class="text-success small pt-1 fw-bold">8%</span>
                                        <span class="text-muted small pt-2 ps-1">增长</span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div><!-- End Revenue Card -->

                    <!-- Customers Card -->
                    <div class="col-xxl-4 col-xl-12">

                        <div class="card info-card customers-card">

                            <div class="filter">
                                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                    <li class="dropdown-header text-start">
                                        <h6>筛选器</h6>
                                    </li>
                                    <li><a class="dropdown-item" href="#">今日</a></li>
                                    <li><a class="dropdown-item" href="#">本月</a></li>
                                    <li><a class="dropdown-item" href="#">本年</a></li>
                                </ul>
                            </div>

                            <div class="card-body">
                                <h5 class="card-title">用户数量 <span>| 本年</span></h5>

                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-people"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6>1357</h6>
                                        <span class="text-danger small pt-1 fw-bold">12%</span>
                                        <span class="text-muted small pt-2 ps-1">降低</span>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div><!-- End Customers Card -->

                    <!-- Reports -->
                    <div class="col-12">
                        <div class="card">

                            <div class="filter">
                                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                    <li class="dropdown-header text-start">
                                        <h6>筛选器</h6>
                                    </li>
                                    <li><a class="dropdown-item" href="#">今日</a></li>
                                    <li><a class="dropdown-item" href="#">本月</a></li>
                                    <li><a class="dropdown-item" href="#">本年</a></li>
                                </ul>
                            </div>

                            <div class="card-body">
                                <h5 class="card-title">点餐业务状况 <span>/今日</span></h5>

                                <!-- Line Chart -->
                                <div id="reportsChart"></div>

                                <script>
                                    document.addEventListener("DOMContentLoaded", () => {
                                        new ApexCharts(document.querySelector("#reportsChart"), {
                                            series: [{
                                                name: '奶茶咖啡',
                                                data: [31, 40, 28, 51, 42, 82, 56],
                                            }, {
                                                name: '汉堡薯条',
                                                data: [11, 32, 45, 32, 34, 52, 41]
                                            }, {
                                                name: '快餐便当',
                                                data: [15, 11, 32, 18, 9, 24, 11]
                                            }],
                                            chart: {
                                                height: 350,
                                                type: 'area',
                                                toolbar: {
                                                    show: false
                                                },
                                            },
                                            markers: {
                                                size: 4
                                            },
                                            colors: ['#4154f1', '#2eca6a', '#ff771d'],
                                            fill: {
                                                type: "gradient",
                                                gradient: {
                                                    shadeIntensity: 1,
                                                    opacityFrom: 0.3,
                                                    opacityTo: 0.4,
                                                    stops: [0, 90, 100]
                                                }
                                            },
                                            dataLabels: {
                                                enabled: false
                                            },
                                            stroke: {
                                                curve: 'smooth',
                                                width: 2
                                            },
                                            xaxis: {
                                                type: 'datetime',
                                                categories: ["2018-09-19T00:00:00.000Z", "2018-09-19T01:30:00.000Z", "2018-09-19T02:30:00.000Z", "2018-09-19T03:30:00.000Z", "2018-09-19T04:30:00.000Z", "2018-09-19T05:30:00.000Z", "2018-09-19T06:30:00.000Z"]
                                            },
                                            tooltip: {
                                                x: {
                                                    format: 'dd/MM/yy HH:mm'
                                                },
                                            }
                                        }).render();
                                    });
                                </script>
                                <!-- End Line Chart -->

                            </div>

                        </div>
                    </div><!-- End Reports -->

                    <!-- Recent Sales -->
                    <div class="col-12">
                        <div class="card recent-sales overflow-auto">

                            <div class="filter">
                                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                    <li class="dropdown-header text-start">
                                        <h6>筛选器</h6>
                                    </li>
                                    <li><a class="dropdown-item" href="#">今日</a></li>
                                    <li><a class="dropdown-item" href="#">本月</a></li>
                                    <li><a class="dropdown-item" href="#">本年</a></li>
                                </ul>
                            </div>

                            <div class="card-body">
                                <h5 class="card-title">近期销售 <span>| 今日</span></h5>

                                <table class="table table-borderless datatable">
                                    <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">顾客</th>
                                        <th scope="col">商品</th>
                                        <th scope="col">售价</th>
                                        <th scope="col">状态</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <th scope="row"><a href="#">#2457</a></th>
                                        <td>张宏业</td>
                                        <td><a class="text-primary" href="#">铁牛牛肉面</a></td>
                                        <td>￥64</td>
                                        <td><span class="badge bg-success">批准</span></td>
                                    </tr>
                                    <tr>
                                        <th scope="row"><a href="#">#2147</a></th>
                                        <td>黑花花</td>
                                        <td><a class="text-primary" href="#">澳洲鲍鱼龙虾套餐</a></td>
                                        <td>￥47</td>
                                        <td><span class="badge bg-warning">待定</span></td>
                                    </tr>
                                    <tr>
                                        <th scope="row"><a href="#">#2049</a></th>
                                        <td>张月月</td>
                                        <td><a class="text-primary" href="#">蜜雪冰城饮品</a></td>
                                        <td>￥147</td>
                                        <td><span class="badge bg-success">批准</span></td>
                                    </tr>
                                    <tr>
                                        <th scope="row"><a href="#">#2644</a></th>
                                        <td>常嘉祺</td>
                                        <td><a class="text-primar" href="#">肯德基疯狂星期四</a></td>
                                        <td>￥67</td>
                                        <td><span class="badge bg-danger">拒绝</span></td>
                                    </tr>
                                    <tr>
                                        <th scope="row"><a href="#">#2644</a></th>
                                        <td>张长志</td>
                                        <td><a class="text-primary" href="#">豪华卿士沙拉一份</a></td>
                                        <td>￥165</td>
                                        <td><span class="badge bg-success">批准</span></td>
                                    </tr>
                                    </tbody>
                                </table>

                            </div>

                        </div>
                    </div><!-- End Recent Sales -->

                    <!-- Top Selling -->
                    <div class="col-12">
                        <div class="card top-selling overflow-auto">

                            <div class="filter">
                                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                    <li class="dropdown-header text-start">
                                        <h6>筛选器</h6>
                                    </li>
                                    <li><a class="dropdown-item" href="#">今日</a></li>
                                    <li><a class="dropdown-item" href="#">本月</a></li>
                                    <li><a class="dropdown-item" href="#">T本年</a></li>
                                </ul>
                            </div>

                            <div class="card-body pb-0">
                                <h5 class="card-title">最畅销餐品 <span>| 今日</span></h5>

                                <table class="table table-borderless">
                                    <thead>
                                    <tr>
                                        <th scope="col">预览</th>
                                        <th scope="col">产品</th>
                                        <th scope="col">价格</th>
                                        <th scope="col">销售</th>
                                        <th scope="col">收入</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <th scope="row"><a href="#"><img alt="" src="image/meals/nxu.png"></a>
                                        </th>
                                        <td><a class="text-primary fw-bold" href="#">古法烧牛肉</a></td>
                                        <td>￥64</td>
                                        <td class="fw-bold">124</td>
                                        <td>￥5828</td>
                                    </tr>
                                    <tr>
                                        <th scope="row"><a href="#"><img alt="" src="image/meals/nxu.png"></a>
                                        </th>
                                        <td><a class="text-primary fw-bold" href="#">鸡翅焖饭</a></td>
                                        <td>￥46</td>
                                        <td class="fw-bold">98</td>
                                        <td>￥4508</td>
                                    </tr>
                                    <tr>
                                        <th scope="row"><a href="#"><img alt="" src="image/meals/nxu.png"></a>
                                        </th>
                                        <td><a class="text-primary fw-bold" href="#">香辣鸡排饭</a></td>
                                        <td>￥59</td>
                                        <td class="fw-bold">74</td>
                                        <td>￥366</td>
                                    </tr>
                                    <tr>
                                        <th scope="row"><a href="#"><img alt="" src="image/meals/nxu.png"></a>
                                        </th>
                                        <td><a class="text-primary fw-bold" href="#">宫保鸡丁</a></td>
                                        <td>￥32</td>
                                        <td class="fw-bold">63</td>
                                        <td>￥2016</td>
                                    </tr>
                                    </tbody>
                                </table>

                            </div>

                        </div>
                    </div><!-- End Top Selling -->

                </div>
            </div><!-- End Left side columns -->

            <!-- Right side columns -->
            <div class="col-lg-4">

                <!-- Recent Activity -->
                <div class="card">
                    <div class="filter">
                        <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                            <li class="dropdown-header text-start">
                                <h6>筛选器</h6>
                            </li>
                            <li><a class="dropdown-item" href="#">今日</a></li>
                            <li><a class="dropdown-item" href="#">本月</a></li>
                            <li><a class="dropdown-item" href="#">本年</a></li>
                        </ul>
                    </div>

                    <div class="card-body">
                        <h5 class="card-title">最近的活动 <span>| 今日</span></h5>

                        <div class="activity">

                            <div class="activity-item d-flex">
                                <div class="activite-label">32 min</div>
                                <i class='bi bi-circle-fill activity-badge text-success align-self-start'></i>
                                <div class="activity-content">
                                    乐享校园招新了 <a class="fw-bold text-dark" href="#">点我前往报名</a> 机不可失
                                </div>
                            </div><!-- End activity item-->

                            <div class="activity-item d-flex">
                                <div class="activite-label">56 min</div>
                                <i class='bi bi-circle-fill activity-badge text-danger align-self-start'></i>
                                <div class="activity-content">
                                    好好学习，天天向上，我爱宁大！
                                </div>
                            </div><!-- End activity item-->

                            <div class="activity-item d-flex">
                                <div class="activite-label">2 hrs</div>
                                <i class='bi bi-circle-fill activity-badge text-primary align-self-start'></i>
                                <div class="activity-content">
                                    少壮不努力，老大徒伤悲。你好，我是张宏业。
                                </div>
                            </div><!-- End activity item-->

                            <div class="activity-item d-flex">
                                <div class="activite-label">1 day</div>
                                <i class='bi bi-circle-fill activity-badge text-info align-self-start'></i>
                                <div class="activity-content">
                                    为中国人民谋幸福 <a class="fw-bold text-dark" href="#">为中华民族谋复兴</a>
                                    这是党的初心和使命。
                                </div>
                            </div><!-- End activity item-->

                            <div class="activity-item d-flex">
                                <div class="activite-label">2 days</div>
                                <i class='bi bi-circle-fill activity-badge text-warning align-self-start'></i>
                                <div class="activity-content">
                                    团队成员：张宏业、张月、常嘉祺、张长志。
                                </div>
                            </div><!-- End activity item-->

                            <div class="activity-item d-flex">
                                <div class="activite-label">4 weeks</div>
                                <i class='bi bi-circle-fill activity-badge text-muted align-self-start'></i>
                                <div class="activity-content">
                                    乐享校园，一款为校园生活提供便利的APP。
                                </div>
                            </div><!-- End activity item-->

                        </div>

                    </div>
                </div><!-- End Recent Activity -->

                <!-- Budget Report -->
                <div class="card">
                    <div class="filter">
                        <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                            <li class="dropdown-header text-start">
                                <h6>筛选器</h6>
                            </li>
                            <li><a class="dropdown-item" href="#">今日</a></li>
                            <li><a class="dropdown-item" href="#">本月</a></li>
                            <li><a class="dropdown-item" href="#">本年</a></li>
                        </ul>
                    </div>

                    <div class="card-body pb-0">
                        <h5 class="card-title">校区分布 <span>| 本月</span></h5>

                        <div id="budgetChart" style="min-height: 400px;" class="echart"></div>

                        <script>
                            document.addEventListener("DOMContentLoaded", () => {
                                var budgetChart = echarts.init(document.querySelector("#budgetChart")).setOption({
                                    legend: {
                                        data: ['宁夏大学', '北方民族大学']
                                    },
                                    radar: {
                                        // shape: 'circle',
                                        indicator: [{
                                            name: '餐厅食堂',
                                            max: 6500
                                        },
                                            {
                                                name: '贺兰校区',
                                                max: 16000
                                            },
                                            {
                                                name: '文萃校区',
                                                max: 30000
                                            },
                                            {
                                                name: '怀远校区',
                                                max: 38000
                                            },
                                            {
                                                name: '朔方校区',
                                                max: 52000
                                            },
                                            {
                                                name: '学校门口',
                                                max: 25000
                                            }
                                        ]
                                    },
                                    series: [{
                                        name: '宁大 vs 北民大',
                                        type: 'radar',
                                        data: [{
                                            value: [4200, 3000, 20000, 35000, 50000, 18000],
                                            name: '宁夏大学'
                                        },
                                            {
                                                value: [5000, 14000, 28000, 26000, 42000, 21000],
                                                name: '北方民族大学'
                                            }
                                        ]
                                    }]
                                });
                            });
                        </script>

                    </div>
                </div><!-- End Budget Report -->

                <!-- Website Traffic -->
                <div class="card">
                    <div class="filter">
                        <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                            <li class="dropdown-header text-start">
                                <h6>筛选器</h6>
                            </li>
                            <li><a class="dropdown-item" href="#">今日</a></li>
                            <li><a class="dropdown-item" href="#">本月</a></li>
                            <li><a class="dropdown-item" href="#">本年</a></li>
                        </ul>
                    </div>

                    <div class="card-body pb-0">
                        <h5 class="card-title">餐品种类分布 <span>| 今日</span></h5>

                        <div id="trafficChart" style="min-height: 400px;" class="echart"></div>

                        <script>
                            document.addEventListener("DOMContentLoaded", () => {
                                echarts.init(document.querySelector("#trafficChart")).setOption({
                                    tooltip: {
                                        trigger: 'item'
                                    },
                                    legend: {
                                        top: '5%',
                                        left: 'center'
                                    },
                                    series: [{
                                        name: '餐品种类分布',
                                        type: 'pie',
                                        radius: ['40%', '70%'],
                                        avoidLabelOverlap: false,
                                        label: {
                                            show: false,
                                            position: 'center'
                                        },
                                        emphasis: {
                                            label: {
                                                show: true,
                                                fontSize: '18',
                                                fontWeight: 'bold'
                                            }
                                        },
                                        labelLine: {
                                            show: false
                                        },
                                        data: [{
                                            value: 1048,
                                            name: '轻食沙拉'
                                        },
                                            {
                                                value: 735,
                                                name: '面类食品'
                                            },
                                            {
                                                value: 580,
                                                name: '干锅香锅'
                                            },
                                            {
                                                value: 484,
                                                name: '烧烤串串'
                                            },
                                            {
                                                value: 300,
                                                name: '蛋糕甜品'
                                            }
                                        ]
                                    }]
                                });
                            });
                        </script>

                    </div>
                </div><!-- End Website Traffic -->

                <!-- News & Updates Traffic -->
                <div class="card">
                    <div class="filter">
                        <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                            <li class="dropdown-header text-start">
                                <h6>筛选器</h6>
                            </li>
                            <li><a class="dropdown-item" href="#">今日</a></li>
                            <li><a class="dropdown-item" href="#">本月</a></li>
                            <li><a class="dropdown-item" href="#">本年</a></li>
                        </ul>
                    </div>

                    <div class="card-body pb-0">
                        <h5 class="card-title">新闻和更新 <span>| 今日</span></h5>

                        <div class="news">
                            <div class="post-item clearfix">
                                <img src="assets/img/news-1.jpg" alt="">
                                <h4><a href="#">新闻一</a></h4>
                                <p>政治纪律、组织纪律、廉洁纪律、群众纪律、⼯作纪律、⽣活纪律</p>
                            </div>

                            <div class="post-item clearfix">
                                <img src="assets/img/news-2.jpg" alt="">
                                <h4><a href="#">新闻二</a></h4>
                                <p>警告、严重警告、撤销党内职务、留党察看、开除党籍</p>
                            </div>

                        </div><!-- End sidebar recent posts-->

                    </div>
                </div><!-- End News & Updates -->

            </div><!-- End Right side columns -->

        </div>
    </section>

</main>

<div th:replace="systemFooter :: myFooter"></div>

<div th:replace="systemFooter :: myGoToUp"></div>

<!-- Vendor JS Files -->
<script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="assets/vendor/chart.js/chart.min.js"></script>
<script src="assets/vendor/echarts/echarts.min.js"></script>
<script src="assets/vendor/quill/quill.min.js"></script>
<script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
<script src="assets/vendor/tinymce/tinymce.min.js"></script>
<script src="assets/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="assets/js/main.js"></script>

</body>

</html>